<p id="notice"><%= notice %></p>

<h1>Noticias</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Contenido</th>
      <th>Tipo</th>
      <th>Serial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @noticions.each do |noticion| %>
      <tr>
        <td><%= noticion.titulo %></td>
        <td><%= noticion.contenido %></td>
        <td><%= noticion.tipo %></td>
        <% if noticion.serial_id != nil %>
          <td><%= link_to Serial.find(noticion.serial_id).titulo, serial_path(noticion.serial_id) %></td>
        <% else %>
          <td><%= "--" %></td>
        <% end %>
        <td><%= link_to 'Show', noticion %></td>
        <td><%= link_to 'Edit', edit_noticion_path(noticion) %></td>
        <td><%= link_to 'Destroy', noticion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Noticia', new_noticion_path %>
