<%= form_for([@serial,@chapter,@reviewch]) do |f| %>
  <% if reviewch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reviewch.errors.count, "error") %> prohibited this reviewch from being saved:</h2>

      <ul>
      <% @reviewch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comentario %>
    <%= f.text_area :comentario %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
